/* general */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}
*::after,
*::before {
    position: absolute;
    content: "";
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #013448;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d90a2c;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "poppins";
    font-weight: 400;
    line-height: 1.3;
    color: #222631;
    background-color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}
p {
    font-weight: 100;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input,
textarea,
button,
select {
    outline: none;
    border: none;
    background: none;
}
button {
    cursor: pointer;
}
img {
    height: auto;
    max-width: 100%;
}
.wrapper {
    width: 1500px;
    height: 100%;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex.center {
    justify-content: center;
}
.title60 {
    font-size: 60px;
    margin-bottom: 23px;
}
.map iframe {
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
#header .mobile {
    display: none;
}
#header .top {
    background: #252628;
    position: relative;
    width: 100%;
    height: 50px;
    color: #fff;
    overflow: hidden;
}
#header .top::before {
    height: 100%;
    width: 40%;
    left: 0;
    top: 0;
    background: url(/landing_resources/img/icons/header/pat.png) no-repeat;
    background-size: cover;
    background-position: right;
}
#header .top .flex {
    position: relative;
    z-index: 10;
}
#header .top .info {
    display: inline-block;
    margin-right: 25px;
}
#header .top .info img {
    margin-right: 5px;
}
#header .bottom {
    background: #eff4fe;
    width: 100%;
}
#header .sm {
    padding-left: 5px;
    border-left: 1px solid #fff;
    display: inline-block;
}
#header .sm a {
    margin-left: 16px;
}
#header .navbar a {
    text-transform: uppercase;
    padding: 0px 15px;
    font-weight: 500;
}
#header .languages {
    position: relative;
    cursor: pointer;
}
#header .languages .drop {
    position: absolute;
    left: 0;
    top: 100%;
    /* background: #eff4fe; */
    transform: scaleY(0);
    transition: 0.3s;
    transform-origin: top;
}
#header .languages:hover .drop {
    transform: scaleY(1);
}

#footer {
    background: linear-gradient(to right, #e30613, #50b1cf);
    padding-top: 100px;
    padding-bottom: 48px;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
}
#footer .wrapper {
    align-items: flex-start;
}
#footer .title {
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}
#footer .map {
    width: 288px;
    height: 178px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 12px;
}
#footer .col_1 img {
    max-width: 10px;
}
#footer .col_1 a {
    margin-bottom: 10px;
    display: block;
}
#footer .col_1 .sm a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}
#footer .col_1 .sm a img {
    max-width: none;
}
#footer .form {
    max-width: 290px;
}
#footer .form input,
#footer .form textarea {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    padding-left: 7px;
    height: 34px;
    transition: 0.4s;
}
#footer .form input:focus,
#footer .form textarea:focus {
    box-shadow: 0 3px 21px #2756b53d;
}
#footer .form input::placeholder,
#footer .form textarea::placeholder {
    color: rgba(255, 255, 255, 0.616);
}
#footer .form input {
    display: inline-block;
    width: 49%;
}
#footer .form button {
    position: relative;
    white-space: nowrap;
    color: #fff;
    font-weight: 500;
}
#send_msg {
    transition: 0.4s;
}
#footer .form button #sent {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(15px);
    opacity: 0;
    color: #46e58d;
    transition: 0.4s;
}
#footer .form button #sent.sent {
    opacity: 1;
    transform: translateY(0);
}
#footer .form textarea {
    display: block;
    margin: 10px 0;
    padding-top: 7px;
    height: 136px;
    width: 100%;
}
#footer .flex.center {
    font-weight: 600;
    margin-top: 30px;
}
#footer .flex.center img {
    margin-left: 10px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url(/landing_resources/img/hero/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#hero::after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #bacae988, #eff4fe6e);
}
#hero .wrapper {
    padding-top: 120px;
    position: relative;
}
#hero .content {
    position: relative;
    max-width: 40%;
    z-index: 99;
}
#hero .content p {
    text-align: justify;
}
#hero .content .title {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #e30613, #50b1cf 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
#hero .slider {
    width: 40%;
    margin: auto;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 99;
    text-align: center;
}
#hero .slider .bolb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#hero .slider button {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}
#prev_slide {
    left: -30px;
}
#next_slide {
    right: -30px;
}

#hero_slider {
    text-align: center;
    height: 80%;
    right: 0;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots li {
    width: 11px;
    height: 8px;
    border-radius: 23px;
    background: #cfcfcf;
    margin: 0 3px;
    display: inline-block;
    transition: 0.5s;
}
.slick-dots li.slick-active {
    width: 19.5px;
    height: 8px;
    background: linear-gradient(to right, #e30613, #50b1cf);
}
.slick-dots li button {
    opacity: 0;
}

.brands {
    text-align: center;
    margin-top: 36px;
}
.brands p {
    max-width: 800px;
    margin: auto;
}
.brands .brand_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 16px;
    margin-bottom: 90px;
}

/* about us */
.about_us .content .title {
    -webkit-text-fill-color: #222631 !important;
}
.about_us {
    padding-top: 200px !important;
}
.about_us #hero_slider {
    width: 500px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}
.about_us #hero_slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_us .slider {
    top: 166px !important;
}

/* products */
.showcase.product {
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-top: 130px;
    margin-bottom: 20px;
}
.product_page {
    margin-bottom: 100px;
}
.product_page .brnd {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}
.product_page .brnd img {
    position: relative;
    bottom: -15px;
}
.product_page p {
    max-width: 800px;
}
.product_page .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px 16px;
    margin: 50px 0;
}
.product_page .grid .item {
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.055);
    padding: 20px;
}
.product_page .grid .item .name {
    color: #fff;
    background-color: #e30714;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 14px;
    border-radius: 3px;
    display: block;
}
.product_page .grid .item p {
    margin-bottom: 10px;
}
.product_page .grid .item a {
    font-size: 18px;
    background-color: #d1d1d1;
    border-radius: 3px;
    transition: 0.4s;
    padding: 3px 10px;
    opacity: 0;
}
.product_page .grid .item:hover a {
    opacity: 1;
}
.pagination button {
    margin: 0 19px;
    color: #1b5a65;
}
.pagination button.active {
    opacity: 0.5;
}

/* show product */

.show_product {
    padding: 200px 0;
    justify-content: flex-start;
}
.show_product .img {
    width: 40%;
    height: auto;
    flex-shrink: 0;
    margin-right: 30px;
}
.show_product .name {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}
.show_product .name::after {
    width: 140px;
    height: 3px;
    background-color: #e20714;
    left: 0;
    bottom: 0;
}
.show_product .op {
    opacity: 0.6;
}
.show_product .info_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 30px;
}
.show_product .description {
    margin: 30px 0;
    max-width: 600px;
    text-align: justify;
}
.show_product .contact {
    background-color: #e20714;
    padding: 3px 15px;
    color: #fff;
    margin-left: 30px;
    border-radius: 3px;
}
.show_product .back {
    font-size: 18px;
    margin-top: 30px;
    text-transform: uppercase;
}
.show_product .back img {
    position: relative;
    bottom: -1px;
    margin-right: 12px;
}

/* contact */
.contact_page {
    padding: 200px 0;
    width: 75%;
}
.contact_page .grid {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 140px;
}
.contact_page .title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}
.contact_page p {
    margin-bottom: 20px;
}
.contact_page p img {
    margin-right: 10px;
}
.contact_page form {
    width: 100%;
}
.contact_page input,
.contact_page textarea {
    width: 100%;
    display: block;
    padding-left: 7px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 3px 15px #2756b521;
}
.contact_page input {
    height: 34px;
}
.contact_page textarea {
    height: 136px;
    padding-top: 8px;
}
.contact_page button img {
    margin-right: 10px;
}
.contact_page .map {
    width: 100%;
    height: 240px;
}

/* news pagee */
.news_page {
    padding-top: 200px;
    padding-bottom: 100px;
}
.news_page .grid {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px 35px;
}
.news_page .grid .news_item {
    text-align: center;
    width: 100%;
}
.news_page .grid .img {
    width: 100%;
    height: 340px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}
.news_page .grid .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news_page .grid p {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 20px;
}
.news_page .grid p.bold {
    font-weight: bold;
}
.news_page .grid a {
    padding: 19px 49px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 21px #2756b536;
    position: relative;
    bottom: -20px;
}

/* show-news */
.showcase.news {
    height: 388px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin-top: 120px;
    padding-bottom: 14px;
    color: #fff;
    font-size: 40px;
}
.showcase.news::after {
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    z-index: 0;
}
.showcase.news span {
    position: relative;
    z-index: 99;
}
.show_news {
    width: 600px !important;
    text-align: center;
    margin-bottom: 64px;
}
.show_news p {
    text-align: justify;
    margin-bottom: 20px;
}
.show_news img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.show_news button {
    text-transform: uppercase;
    font-size: 18px;
}
.show_news button img {
    width: auto;
    margin: 0;
    margin-right: 10px;
    transform: translateY(2px);
}

/*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*/
/*_*_*_*_*_*_*_*_*_*_*_*_ReSpOnsiveNess_*_*_*_*_*_*_*_*_*_*_**/

/* general */
@media screen and (max-width: 1550px) {
    .wrapper {
        width: 95%;
    }
}

/* header */
@media screen and (max-width: 1200px) {
    #header {
        font-size: 14px;
    }
    header .bottom {
        height: 75px;
    }
    #header .top {
        height: 40px;
    }
}
@media screen and (max-width: 900px) {
    #header .top::before {
        width: 45%;
    }
    #header .navbar a {
        padding: 0px 9px;
    }
}
@media screen and (max-width: 800px) {
    #header .mobile {
        display: block;
        width: 100%;
        height: 60px;
        background: #fff;
    }
    #header .mobile .logo {
        height: 100%;
    }
    #header .mobile .logo img {
        height: 100%;
    }
    #menu_btn {
        position: relative;
        display: inline-block;
        width: 27px;
        height: 3px;
        background: linear-gradient(to left, #e30615, #50b1cf);
        border-radius: 3px;
        transition: 0.6s;
        z-index: 101;
    }
    #menu_btn::after {
        top: -7px;
        right: 0;
        width: 22px;
        height: 3px;
        background: linear-gradient(to left, #e30615, #50b1cf);
        border-radius: 3px;
        transition: 0.6s;
    }
    #menu_btn.clicked {
        transform: rotate(45deg);
        background: linear-gradient(to left, #ffffff4f, #fff);
        position: fixed;
        right: 10px;
        top: 25px;
    }
    #menu_btn.clicked::after {
        background: linear-gradient(to left, #fff, #ffffff4f);
        transform: rotate(-90deg);
        top: 0;
        width: 27px;
    }
    #header .main {
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, #e30615ce, #50b1cfda);
        color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        transform: translateY(-100%);
        opacity: 0;
        transition: 0.6s;
    }
    #header .main.open {
        transform: translateY(0);
        opacity: 1;
    }
    #header .main .top {
        background: none;
        margin-bottom: 30px;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    #header .main .top .wrapper {
        align-items: flex-start;
    }
    #header .main .top .info {
        display: block;
        margin-bottom: 10px;
    }
    #header .main .top::before {
        display: none;
    }
    #header .main .flex {
        flex-direction: column;
    }
    #header .main .bottom {
        background: none;
        height: auto;
    }
    #header .main .logo {
        display: none;
    }
    #header .languages {
        position: absolute;
        top: 70px;
        left: 10px;
    }
    #header .languages .drop {
        background: none;
    }
}
@media screen and (max-width: 550px) {
    #header .navbar a {
        display: block;
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
    }
}

/* footer */
@media screen and (max-width: 1200px) {
    #footer {
        padding-top: 50px;
        padding-bottom: 33px;
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) {
    #footer .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 5px;
    }
}
@media screen and (max-width: 800px) {
    #footer .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 20px;
    }
}
@media screen and (max-width: 540px) {
    #footer .wrapper {
        grid-template-columns: 1fr;
        grid-gap: 30px 20px;
    }
    #footer .col {
        width: 100% !important;
        max-width: none;
    }
}

/* home  */
@media screen and (max-width: 1200px) {
    .title60 {
        font-size: 44px;
        margin-bottom: 17px;
    }
}
@media screen and (max-width: 1100px) {
    #hero .content .title {
        font-size: 33px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 900px) {
    #hero {
        height: auto;
        /* padding-bottom: 600px; */
        overflow: hidden;
    }
    #hero .wrapper {
        flex-direction: column;
    }
    #hero .slider {
        /* width: 50%;
        top: auto;
        bottom: -500px;
        right: 50%;
        transform: translateX(50%); */
        position: relative;
        display: block;
        top: auto;
        right: auto;
        transform: none;
        margin: auto;
        width: 100%;
        height: auto;
    }
    #hero .content {
        max-width: none;
        display: block;
    }
}
@media screen and (max-width: 700px) {
    #hero .content p {
        font-size: 13px;
    }
    .title60 {
        font-size: 30px;
        margin-bottom: 13px;
    }
    .brands .brand_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 44px 16px;
    }
}
@media screen and (max-width: 500px) {
    #hero .content .title {
        font-size: 23px;
        margin-bottom: 16px;
    }
    #hero .wrapper {
        padding-top: 88px;
    }
}
@media screen and (max-width: 430px) {
    .brands .brand_grid {
        grid-template-columns: 1fr;
    }
    .brands p {
        font-size: 13px;
    }
    .title60 {
        font-size: 25px;
    }
}

/* about us */
@media screen and (max-width: 1300px) {
    .about_us #hero_slider {
        width: 400px;
        height: 500px;
    }
    .about_us .content {
        max-width: 55% !important;
    }
}
@media screen and (max-width: 1100px) {
    .about_us #hero_slider {
        width: 327px;
        height: 459px;
    }
    #hero .content p {
        font-size: 13px;
    }
}
@media screen and (max-width: 900px) {
    .about_us .slider {
        top: auto !important;
    }
    .about_us {
        padding-top: 155px !important;
        padding-bottom: 50px;
    }
    .about_us .content {
        margin-bottom: 30px;
    }
    #hero .slider .bolb {
        width: 62%;
    }
}
@media screen and (max-width: 800px) {
    .about_us {
        padding-top: 80px !important;
    }
    .about_us .content {
        max-width: none !important;
    }
}

/* products */
@media screen and (max-width: 1500px) {
    .product_page .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 1300px) {
    .product_page .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1200px) {
    .showcase.product {
        margin-top: 110px;
    }
}
@media screen and (max-width: 1000px) {
    .product_page .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 900px) {
    .show_product .description {
        margin: 22px 0;
        font-size: 13px;
    }
    .show_product .name {
        font-size: 28px;
        margin-bottom: 22px;
    }
}
@media screen and (max-width: 800px) {
    .showcase.product {
        margin-top: 58px;
    }
    .show_product {
        padding: 100px 0;
    }
}
@media screen and (max-width: 750px) {
    .product_page .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .show_product {
        flex-direction: column;
    }
    .show_product .img {
        width: 60%;
        margin-right: 0;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 500px) {
    .product_page .grid {
        grid-template-columns: 1fr;
    }
}

/* news  */

@media screen and (max-width: 1400px) {
    .news_page .grid {
        width: 100%;
        grid-gap: 120px 30px;
    }
}
@media screen and (max-width: 1200px) {
    .showcase.news {
        margin-top: 98px;
        height: 244px;
    }
}
@media screen and (max-width: 1100px) {
    .news_page .grid .img {
        height: 254px;
        border-radius: 9px;
        margin-bottom: 18px;
    }
    .news_page .grid p {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .news_page .grid a {
        padding: 14px 40px;
    }
    .news_page .grid {
        width: 100%;
        grid-gap: 100px 20px;
    }
}
@media screen and (max-width: 900px) {
    .news_page .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .news_page {
        padding-top: 100px;
    }
    .showcase.news {
        margin-top: 45px;
        height: 169px;
        font-size: 26px;
    }
    .show_news {
        width: 90% !important;
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    .news_page .grid {
        grid-template-columns: 1fr;
    }
}

/* contact */
@media screen and (max-width: 1000px) {
    .contact_page .grid {
        grid-gap: 30px 57px;
    }
    .contact_page {
        padding: 159px 0;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .contact_page {
        padding: 100px 0;
    }
    .contact_page .grid {
        grid-gap: 30px 30px;
    }
}
@media screen and (max-width: 600px) {
    .contact_page .grid {
        grid-template-columns: 1fr;
    }
}
