@font-face {
  font-family: "bungee";
  src: url(/landing_resources/fonts/Bungee-Regular.ttf);
}
@font-face {
  font-family: "nunito";
  src: url(/landing_resources/fonts/NunitoSans-Bold.ttf);
}
@font-face {
  font-family: "nunito_bold";
  src: url(/landing_resources/fonts/NunitoSans-ExtraBold.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nunito";
  scroll-behavior: smooth;
}
*::after,
*::before {
  position: absolute;
  content: "";
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #013448;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfca14;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "nunito";
  font-weight: 400;
  line-height: 1.3;
  color: #222631;
  background-color: #f6f9fc;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
}
.group {
  cursor: pointer;
}
.group image,
.group text,
.group polygon,
.group use,
.group g {
  opacity: 0;
  transition: 0.7s;
}
.group:hover image,
.group:hover text,
.group:hover polygon,
.group:hover use,
.group:hover g {
  opacity: 1;
}
.group circle,
.group .circle {
  position: relative;
  z-index: 1000;
  opacity: 1;
}

.group_6,
.group_5 {
  position: relative;
  z-index: 1;
}
.group_18 {
  position: relative;
  z-index: 1000;
}

.main_body {
  position: relative;
  background: url(/landing_resources/img/main/bg.png);
}
.main_body svg {
  position: absolute;
  left: 0;
  top: -1px;
  width: auto;
  height: auto;
  width: 100vw;
  object-fit: cover;
}

/* content */
.small_screen_content {
  display: none;
}
/* menu btn */
#main_menu_btn {
  position: absolute;
  top: 35px;
  right: 120px;
  background: none;
  border: none;
  width: 25px;
  cursor: pointer;
  z-index: 1200;
}
#main_menu_btn .line {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.4s;
  position: relative;
}
#main_menu_btn .line_2 {
  width: 19px;
  margin: 6px auto;
  margin-right: 0;
}
#main_menu_btn .line_1::after,
#main_menu_btn .line_3::after {
  width: 100%;
  height: 100%;
  left: 0;
  background: #fff;
  border-radius: 5px;
  transition: 0.4s;
  transform: translateX(-100%);
  opacity: 0;
}
#main_menu_btn:hover .line_1,
#main_menu_btn:hover .line_3 {
  background: rgba(255, 255, 255, 0);
  transform: translateX(100%);
}
#main_menu_btn:hover .line_1::after,
#main_menu_btn:hover .line_3::after {
  opacity: 1;
}
#main_menu_btn:hover .line_2 {
  transform: translateX(-6px);
}

/* blur bg */
#blur_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1009;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px) !important;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
#blur_bg.show {
  visibility: visible;
  opacity: 1;
}

/* navbar */
#navigations {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1100;
  transition: 0.8s;
  transform: translateY(-150%) translateX(-50%);
  visibility: hidden;
  opacity: 0;
}
#navigations.show {
  transform: translateY(-50%) translateX(-50%);
  visibility: visible;
  opacity: 1;
}
#navigations a {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  transition: 0.3s;
  font-family: "nunito_bold";
}
#navigations a:hover {
  text-shadow: #dfcb14cc 0px 2px 10px;
}
#languages {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
#languages a {
  font-size: 22px;
  display: inline-block;
  margin: 0 10px;
}
#languages a.active {
  text-decoration: underline;
}
#music_btn {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 1000;
}
#music_btn button {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.4s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
#music_btn button.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

/********** SCROLLING TEXT ************/

/*
** ALL CREDIT GOES TO
** Craig Buckler
** http://www.sitepoint.com/css3-starwars-scrolling-text/
**
** Blame me for the music via embedded video bit
*/

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  overflow: hidden;
}

/* the interesting 3D scrolling stuff */

#titles {
  position: absolute;
  width: 16em;
  height: 40em;
  bottom: 0;
  left: 53%;
  margin-left: -9em;

  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  /* -webkit-transform: perspective(244px) rotateX(31deg);
  -moz-transform: perspective(244px) rotateX(31deg);
  -ms-transform: perspective(244px) rotateX(31deg);
  -o-transform: perspective(244px) rotateX(31deg); */
  transform: perspective(244px) rotateX(31deg);
  font-size: 350%;
}

#titles p {
  text-align: justify;
  margin: 0.8em 0;
  transform: rotate(1deg);
  font-family: "nunito_bold";
}
#titles p strong {
  font-family: "bungee";
}

#titles p .h {
  /* font-size: 70px; */
}
#titlecontent {
  position: absolute;
  top: 100%;
  -webkit-animation: scroll 200s linear 0s infinite;
  -moz-animation: scroll 200s linear 0s infinite;
  -ms-animation: scroll 200s linear 0s infinite;
  -o-animation: scroll 200s linear 0s infinite;
  animation: scroll 200s linear 0s infinite;
  transform: rotateY(59deg);
}

/* animation */
@-webkit-keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

@-moz-keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

@-ms-keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

@-o-keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}

/* responsive */

/* heights  */
@media screen and (max-height: 800px) {
  #titlecontent {
    transform: rotateY(66deg);
  }
  #titles {
    height: 20em;
    left: 54%;
    transform: perspective(244px) rotateX(34deg);
  }
}
@media screen and (max-height: 520px) {
  .small_screen_content .brands img {
    height: 72px !important;
  }
}

/* width */
@media screen and (max-width: 1100px) {
  #navigations a {
    font-size: 30px;
    margin-bottom: 22px;
  }
  #languages a {
    font-size: 17px;
    margin: 0 7px;
  }
  #main_menu_btn {
    right: 40px;
  }
  .small_screen_content {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
  .small_screen_content::after {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .small_screen_content .right {
    position: absolute;
    right: 0;
    top: 100px;
  }
  .small_screen_content .brands {
    position: relative;
    z-index: 100;
    display: block;
  }

  .small_screen_content .brands img {
    height: 100px;
    width: auto;
  }

  .main_body svg {
    display: none;
  }
  .main_body {
    background: url(/landing_resources/img/main/city.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
  }

  #titles {
    z-index: 100;
    transform: none !important;
    height: 44em;
    left: 55%;
  }
  #titles p {
    transform: none;
  }
}
@media screen and (max-width: 800px) {
  #titles p {
    font-size: 30px;
  }
  .small_screen_content .brands img {
    height: 72px !important;
  }
  #titles {
    left: 57%;
  }
}
@media screen and (max-width: 670px) {
  #titles {
    left: 75%;
    width: 12em;
  }
}
@media screen and (max-width: 550px) {
  #navigations a {
    font-size: 22px;
  }
  #languages {
    margin-bottom: 15px;
  }
  #languages a {
    font-size: 15px;
    margin: 0 5px;
  }
  #titles p {
    font-size: 25px;
  }
  #titles {
    left: 86%;
    width: 11em;
  }
  #main_menu_btn {
    right: 19px;
  }
}
@media screen and (max-width: 450px) {
  #titles {
    left: 109%;
    width: 9em;
  }
}
@media screen and (max-width: 450px) {
  #titles {
    left: 115%;
    width: 9em;
  }
}
